/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ESTILOS DEL HEADER */
header{
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
}

nav{
    background-color: rgba(255, 255, 255, 0.5);
}

#name span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 200;
    color: black;
    font-size: x-large;
    transition: 0.8s ease-in-out;
}

#name{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 200;
    color: black;
    font-size: x-large;
    transition: 0.8s ease-in-out;
    border-bottom: white 5rem;
}

.navbar-brand :hover{
    transform: scaleX(2, 0.5);
    letter-spacing: 5px;
}

.nav-item a{
    color: black !important;
    font-size: medium;
    transition: 0.5s ease;
}

.nav-item :hover{
    transform: scaleY(2,0.5);
    letter-spacing: 2px;
}

.fa-bars{
    color: black;
    transition: 0.5s ease;
}

.fa-bars:hover{
    color: black;
    border: 4px solid #ffa260;
    transform: scaleY(2,0.5);
}

/* ESTILOS DEL MAIN */
main{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.inicio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.que-hago{
    margin-left: 50%;
}

.experiencia{
    margin-left: 50%;
}

section article{
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 15px rgba(40, 122, 122, 0.823);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.25rem;
    border:2px solid rgba(40, 122, 122);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-name: fadeIn;
}

#box1, #box3{
    animation-name: fadeInLeft;
}

#box2, #box4{
    animation-name: fadeInRight;
}

@keyframes fadeInLeft {
    from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    }

    to {
    opacity: 1;
    transform: none;
    }
}

@keyframes fadeInRight {
    from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    }

    to {
    opacity: 1;
    transform: none;
    }
}

@media(max-width: 720px){
    .sobre-mi {
        width: 80%;
        margin-left: 10%;
    }
    .mis-estudios{
        width: 80%;
        margin-left: 10%;
    }
    .que-hago{
        width: 80%;
        margin-left: 10%;
    }
    .experiencia{
        width: 80%;
        margin-left: 10%;
    }
}

/* ESTILOS DEL FOOTER */
footer{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
	text-decoration: none;
	color: #ffa260;
}

a:hover{
	color: #ffa260 ;
}

.container {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

footer .social-media {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

footer .social-media .ctn-icon:hover a,
footer .social-media .ctn-icon:focus a,
footer .social-media .ctn-icon:active a {
	transform: rotate3d(0, 1, 0, 1turn);
    border: 4px solid #ffa260;
}

footer .social-media .ctn-icon a {
	background-color: #000000;
	border-radius: 100px;
	color: #ffffff;
	display: block;
	height: 60px;
	margin: 20px;
	text-align: center;
	transition: transform 0.5s ease;
	width: 60px;
    line-height: 60px;
}

footer .copyright {
    font-family: 'Lora', serif;
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
}
